<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>B&BShoop</title>
    <!--Bootstrap CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!--Font awesome CDN-->
    <script src="https://kit.fontawesome.com/1d20b47144.js" crossorigin="anonymous"></script>
    <!--Styles-->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/animate.css">
    <link rel="stylesheet" href="/stylesheets/stylhead.css">
    <!--Owel carousel Style-->
    <link rel="stylesheet" href="/stylesheets/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/stylesheets/owlcarousel/owl.theme.default.min.css">
    <!-- Magnific Popup core CSS file -->
    <link rel="stylesheet" href="Magnific-Popup/magnific-popup.css">



</head>

<body>

    <div class="container-fluid p-0 page-card">
            <div class="header">
                <a href="/shop" class="logo">PROFILE<i class="fa fa-user" aria-hidden="true"></i></a>
                <div class="header-right">
                    <a class="log" href="/">Home</a>
                    <a href="/new_product" class="log">Product</a>
                    <a href="/cart" class="log">Cart</a>
                    <a href="/shop" class="log">Shop </a>
                </div>
                </div>
            <div class="global" >

                <form action="/editer" method="post">
                    <% for(var i=0; i< data.length; i++) { %>



                        <div>
                            <label for="lname">Last name:</label>

                            <input type="text" class="form-control" name="Lname" value="<%=data[i].nom%>" disabled>

                        </div>
                        <div>

                            <label for="fname">First name:</label>
                            <input type="text" name="Fname" class="form-control" value="<%=data[i].prenom%>"
                                disabled><br>

                        </div>
                        <div>

                            <label for="fname">Phone Number:</label>

                            <input type="text" id="tel" class="form-control" name="tel" value="<%=data[i].telephone%>"
                                disabled>

                        </div>
                        <div>

                            <label for="fname">Adresse:</label>

                            <input type="text" id="adr" name="adr" class="form-control" value="<%=data[i].adresse%>"
                                disabled>

                        </div>
                        <div>

                            <label for="fname">E-mail:</label>

                            <input type="text" class="form-control" value="<%=data[i].email%>" disabled><br>

                        </div>


                        <div>
                            <button type="button" id="edit" onclick="editable()"
                                class="btn btn-primary btn-lg btn-block" >Edit</button>
                            <button type="submit" id="save" class="btn btn-success btn-lg btn-block"
                                hidden>Save</button>
                        </div>







                        <% } %>
                </form>

            </div>
            

        </div>

   


        <div class="profile-pic-div">

            <img src="https://cdn.discordapp.com/attachments/827519939006955531/844563064384389120/image.jpg"
                id="photo">
        </div>
    
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>

        <script type="text/javascript">
            function editable() {
                $('#tel').removeAttr('disabled');
                $('#adr').removeAttr('disabled');
                $('#save').removeAttr('hidden');
                $('#edit').hide();

            }

            
        </script>
</body>

</html>